.student-form {
  text-align: center;
  margin-top: 1rem;
}

.student-section {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3rem;
}
.list {
  background: rgba(255, 239, 99, 0.89);
}

h2{
  border-bottom: 4px solid rgb(0, 0, 95);
}  
ul{
  background: rgba(194, 255, 101, 0.938);
}
li{
  padding: 5px;
}
